.search-bar input{
  width: 100%;
  padding: 6px 12px;
  border: 1px solid lightgray;
  margin-bottom: 16px;
}

.add-button{
  float: right;
  margin-bottom: 16px;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
}

.edit-button{
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.delete-button{
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

td {
  vertical-align: top; 
}

th {
  vertical-align: top;
}

textarea{
  width: 100%;
  resize: none;
  height: 100px;
}