<app-auth-form
  [formGroup]="loginForm"
  [title]="'Let\'s login'"
  [fields]="[
    { type: 'email', formControlName: 'email', placeholder: 'Email', errorTip: 'Please input your email!' },
    { type: 'password', formControlName: 'password', placeholder: 'Password', errorTip: 'Please input your password!' },
  ]"
  [buttonText]="'Log in'"
  [redirectForgot]="'/auth/forgot-password'"
  [redirectText]="'Don`t have an account? Register'"
  [redirectLink]="'/auth/register'"
  (submitForm)="submitForm()"
  >
</app-auth-form>
