<nz-alert *ngIf="errorMessage" 
          [nzMessage]="errorMessage" 
          nzType="error" 
          [nzShowIcon]="true" 
          [nzCloseable]="true"
          style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
</nz-alert>

<nz-alert *ngIf="successMessage" 
          [nzMessage]="successMessage" 
          nzType="success" 
          [nzShowIcon]="true" 
          [nzCloseable]="true"
          style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
</nz-alert>


<app-auth-form
  [formGroup]="registerForm"
  [title]="'Let\'s register'"
  [fields]="[
    { type: 'text', formControlName: 'name', placeholder: 'Name', errorTip: 'Please input your name!' },
    { type: 'email', formControlName: 'email', placeholder: 'Email', errorTip: 'Please input your email!' },
    { type: 'password', formControlName: 'password', placeholder: 'Password', errorTip: 'Please input your password!' },
    { type: 'password', formControlName: 'passwordConfirm', placeholder: 'Confirm Password', errorTip: 'Please confirm your password!' }
  ]"
  [buttonText]="'Register'"
  [redirectText]="'Already have an account? Login'"
  [redirectLink]="'/auth/login'"
  (submitForm)="submitForm()">
</app-auth-form>
