<nz-alert *ngIf="errorMessage" 
          [nzMessage]="errorMessage" 
          nzType="error" 
          [nzShowIcon]="true" 
          [nzCloseable]="true"
          style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
</nz-alert>

<nz-alert *ngIf="successMessage" 
          [nzMessage]="successMessage" 
          nzType="success" 
          [nzShowIcon]="true" 
          [nzCloseable]="true"
          style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
</nz-alert>


<app-auth-form
  [formGroup]="resetPasswordForm"
  [title]="'Set new password'"
  [fields]="[
    { type: 'password', formControlName: 'password', placeholder: 'Password', errorTip: 'Please input your password!' },
    { type: 'password', formControlName: 'passwordConfirm', placeholder: 'Confirm Password', errorTip: 'Please input your password confirm!' }
  ]"
  [buttonText]="'Send'"
  (submitForm)="submitForm()"
  >
</app-auth-form>


<div *ngIf="successMessage" style="text-align: center;">
  <a routerLink="/auth/login">Go to Login</a>
</div>