<button class="add-button" nz-button nzType="primary" (click)="showAddUserModal()">Add User</button>

<nz-table #usersTable nzBordered [nzData]="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th nzWidth="120px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of usersTable.data; trackBy: trackById">
      <ng-container *ngIf="!editCache[data.id]?.edit && !deleteCache[data.id]?.confirm">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.role }}</td>
        <td nzAlign="center">
          <button (click)="startEdit(data.id)" class="edit-button" nz-button nzType="primary">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)="startDelete(data.id)" class="delete-button" nz-button nzType="primary">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </ng-container>

      <ng-container *ngIf="editCache[data.id]?.edit">
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.email" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.role" /></td>
        <td nzAlign="center">
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="cancelEdit(data.id)">Cancel</a>
        </td>
      </ng-container>

      <ng-container *ngIf="deleteCache[data.id]?.confirm">
        <td colspan="4" nzAlign="center">
          <span>Are you sure you want to delete this user? <br/></span>
          <a (click)="deleteUser(data.id)" class="yes-link">Yes</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="cancelDelete(data.id)" class="no-link">No</a>
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>


<!-- Add User Modal -->
<app-add-user-modal #addUserModal (userAdded)="handleUserAdded($event)"></app-add-user-modal>
