<nz-alert *ngIf="errorMessage" 
          [nzMessage]="errorMessage" 
          nzType="error" 
          [nzShowIcon]="true" 
          [nzCloseable]="true"
          style="position: fixed; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
</nz-alert>

<nz-alert *ngIf="successMessage" 
          [nzMessage]="successMessage" 
          nzType="success" 
          [nzShowIcon]="true" 
          [nzCloseable]="true"
          style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
</nz-alert>

<app-auth-form
  [formGroup]="forgotPasswordForm"
  [title]="'We\'ll send you a link'"
  [fields]="[
    { type: 'email', formControlName: 'email', placeholder: 'Email', errorTip: 'Please input your email!' }
  ]"
  [buttonText]="'Send'"
  (submitForm)="submitForm()">
</app-auth-form>
